.container {
  min-width: 600px;
}

#image {
  margin: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search {
  display: block;
  text-align: center;
}

input {
  min-width: 50%;
  height: 30px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #CBCED1;
  -webkit-box-shadow: 0 8px 6px -6px #CBCED1;
  -mox-box-shadow: 0 8px 6px -6px #CBCED1;
  -box-shadow: 0 8px 6px -6px #CBCED1;
}

button {
  max-width: 50%;
  display: inline-block;
  align-items: center;
  padding: 7px 10px 10px 10px;
  height: 30px;
  margin: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background-color: #f2f2f2;
  color: #757575;
}

button:hover {
  background-color: #fff;
  color: #000000;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #757575;
}
